In [1]:
import pandas as pd

data = {
    'id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'name': ['John Smith', 'Emily Johnson', 'Michael Brown', 'Sarah Davis', 'Robert Wilson',
             'Jessica Miller', 'Daniel Taylor', 'Lisa Anderson', 'David Thomas', 'Jennifer Martinez'],
    'age': [28, 32, 45, 24, 38, 29, 41, 27, 35, 31],
    'salary': [55000, 68000, 82000, 48000, 75000, 62000, 91000, 53000, 71000, 67000],
    'department': ['Engineering', 'Marketing', 'Finance', 'HR', 'Engineering',
                  'Marketing', 'Finance', 'HR', 'Engineering', 'Marketing'],
    'credit_score': [720, 780, 810, 690, 760, 740, 790, 710, 770, 730]
}

df = pd.DataFrame(data)

# Display the dataset
print("Employee Data:")
print(df)

Employee Data:
    id               name  age  salary   department  credit_score
0  101         John Smith   28   55000  Engineering           720
1  102      Emily Johnson   32   68000    Marketing           780
2  103      Michael Brown   45   82000      Finance           810
3  104        Sarah Davis   24   48000           HR           690
4  105      Robert Wilson   38   75000  Engineering           760
5  106     Jessica Miller   29   62000    Marketing           740
6  107      Daniel Taylor   41   91000      Finance           790
7  108      Lisa Anderson   27   53000           HR           710
8  109       David Thomas   35   71000  Engineering           770
9  110  Jennifer Martinez   31   67000    Marketing           730

In [2]:
print("\nSalary Analysis by Department:")
print(df.groupby('department')['salary'].describe())

Salary Analysis by Department:
             count          mean           std      min      25%      50%  \
department
Engineering    3.0  67000.000000  10583.005244  55000.0  63000.0  71000.0
Finance        2.0  86500.000000   6363.961031  82000.0  84250.0  86500.0
HR             2.0  50500.000000   3535.533906  48000.0  49250.0  50500.0
Marketing      3.0  65666.666667   3214.550254  62000.0  64500.0  67000.0

                 75%      max
department
Engineering  73000.0  75000.0
Finance      88750.0  91000.0
HR           51750.0  53000.0
Marketing    67500.0  68000.0

In [3]:
df['age_group'] = pd.cut(df['age'], 
                         bins=[20, 30, 40, 50],
                         labels=['new', 'medium-expert', 'expert'])

In [4]:
print("\nCredit Score by Age Group:")
print(df.groupby('age_group')['credit_score'].describe())

Credit Score by Age Group:
               count   mean        std    min    25%    50%    75%    max
age_group
new              4.0  715.0  20.816660  690.0  705.0  715.0  725.0  740.0
medium-expert    4.0  760.0  21.602469  730.0  752.5  765.0  772.5  780.0
expert           2.0  800.0  14.142136  790.0  795.0  800.0  805.0  810.0

C:\Users\nanda\AppData\Local\Temp\ipykernel_10148\2123547308.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('age_group')['credit_score'].describe())

In [5]:
print("\nTop Earners by Department:")
print(df.loc[df.groupby('department')['salary'].idxmax()])

Top Earners by Department:
    id           name  age  salary   department  credit_score      age_group
4  105  Robert Wilson   38   75000  Engineering           760  medium-expert
6  107  Daniel Taylor   41   91000      Finance           790         expert
7  108  Lisa Anderson   27   53000           HR           710            new
1  102  Emily Johnson   32   68000    Marketing           780  medium-expert

In [8]:
print("\nAverage Credit Score by Department:")
print(df.groupby('department')['credit_score'].mean())

Average Credit Score by Department:
department
Engineering    750.0
Finance        800.0
HR             700.0
Marketing      750.0
Name: credit_score, dtype: float64

In [9]:
df.groupby('age_group')['salary'].std()

C:\Users\nanda\AppData\Local\Temp\ipykernel_10148\1180277898.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('age_group')['salary'].std()

age_group
new              5802.298395
medium-expert    3593.976442
expert           6363.961031
Name: salary, dtype: float64

In [10]:
 df.groupby('age_group')['salary'].var()

KeyError: 'AgeGroup'